trigger:
  branches:
    include:
      - feature/*
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  - group: Dev-Variable
  - group: QA-Variable
  - group: Prod-Variable


#  Dev Env
stages:
- stage: DevDeploy
  displayName: Deploy to Dev
  condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')
  jobs:
  - deployment: DevJob
    environment: Dev
    strategy:
      runOnce:
        deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@1
              displayName: Install Terraform
              inputs:
                terraformVersion: latest

            - task: TerraformTask@5
              displayName: Terraform Init (Dev)
              inputs:
                provider: azurerm
                command: init
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(devServiceConnection)
                backendAzureRmResourceGroupName: $(devTFStateRG)
                backendAzureRmStorageAccountName: $(devTFStateSA)
                backendAzureRmContainerName: $(devTFStateContainer)
                backendAzureRmKey: $(devTFStateKey)
                backendAzureRmUseEntraIdForAuthentication: true

            - task: TerraformTask@5
              displayName: Validate (Dev)
              inputs:
                provider: azurerm
                command: validate
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: Plan (Dev)
              inputs:
                provider: azurerm
                command: plan
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(devServiceConnection)
                commandOptions: "-var-file=dev.tfvars"

            - task: TerraformTask@5
              displayName: Apply (Dev)
              inputs:
                provider: azurerm
                command: apply
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(devServiceConnection)
                commandOptions: "-var-file=dev.tfvars"


#  QA Env
- stage: QADeploy
  displayName: Deploy to QA
  dependsOn: DevDeploy
  condition: and(
      succeeded(),
      startsWith(variables['Build.SourceBranch'], 'refs/heads/feature/')
      )
  jobs:
  - deployment: QAJob
    environment: QA
    strategy:
      runOnce:
        deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@1
              displayName: Install Terraform
              inputs:
                terraformVersion: latest

            - task: TerraformTask@5
              displayName: Terraform Init (QA)
              inputs:
                provider: azurerm
                command: init
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(qaServiceConnection)
                backendAzureRmResourceGroupName: $(qaTFStateRG)
                backendAzureRmStorageAccountName: $(qaTFStateSA)
                backendAzureRmContainerName: $(qaTFStateContainer)
                backendAzureRmKey: $(qaTFStateKey)
                backendAzureRmUseEntraIdForAuthentication: true

            - task: TerraformTask@5
              displayName: Validate (QA)
              inputs:
                provider: azurerm
                command: validate
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: Plan (QA)
              inputs:
                provider: azurerm
                command: plan
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(qaServiceConnection)
                commandOptions: "-var-file=qa.tfvars"

            - task: TerraformTask@5
              displayName: Apply (QA)
              inputs:
                provider: azurerm
                command: apply
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(qaServiceConnection)
                commandOptions: "-var-file=qa.tfvars"


#  Prod Env
- stage: ProdDeploy
  displayName: Deploy to Prod
  dependsOn: QADeploy
  condition: and(
    succeeded(),
    eq(variables['Build.SourceBranch'], 'refs/heads/main')
   )
  # approval: true   # Enables manual approval
  jobs:
  - deployment: ProdJob
    environment: Prod
    strategy:
      runOnce:
        deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@1
              displayName: Install Terraform
              inputs:
                terraformVersion: latest

            - task: TerraformTask@5
              displayName: Terraform Init (Prod)
              inputs:
                provider: azurerm
                command: init
                workingDirectory: $(Work_Dir)
                backendServiceArm: $(prodServiceConnection)
                backendAzureRmResourceGroupName: $(prodTFStateRG)
                backendAzureRmStorageAccountName: $(prodTFStateSA)
                backendAzureRmContainerName: $(prodTFStateContainer)
                backendAzureRmKey: $(prodTFStateKey)
                backendAzureRmUseEntraIdForAuthentication: true

            - task: TerraformTask@5
              displayName: Validate (Prod)
              inputs:
                provider: azurerm
                command: validate
                workingDirectory: $(Work_Dir)

            - task: TerraformTask@5
              displayName: Plan (Prod)
              inputs:
                provider: azurerm
                command: plan
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(prodServiceConnection)
                commandOptions: "-var-file=prod.tfvars"

            - task: TerraformTask@5
              displayName: Apply (Prod)
              inputs:
                provider: azurerm
                command: apply
                workingDirectory: $(Work_Dir)
                environmentServiceNameAzureRM: $(prodServiceConnection)
                commandOptions: "-var-file=prod.tfvars"
